.env


*.log
scripts/check.log
services/minecraft/docker/logs/
services/teamspeak/ts_data/logs/


services/teamspeak/ts_data/
services/minecraft/docker/backups/
services/minecraft/docker/servers/
services/minecraft/docker/config/
services/minecraft/docker/import/


.vscode/
.idea/
*.swp