version: '3.8'

services:
  crafty:
    container_name: crafty_container
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    restart: always
    network_mode: "host"
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - ./docker/backups:/crafty/backups
      - ./docker/logs:/crafty/logs
      - ./docker/servers:/crafty/servers
      - ./docker/config:/crafty/app/config
      - ./docker/import:/crafty/import

  playit:
    container_name: minecraft-playit-1
    image: ghcr.io/playit-cloud/playit-agent:0.16
    restart: always
    network_mode: host
    cap_add:
      - NET_ADMIN
    environment:
      - SECRET_KEY=INSERT HERE YOUR SECRET KEY
